//## Colors

//### Primary

$blue: hsl(233, 26%, 24%);
$green: hsl(136, 65%, 51%);
$cyan: hsl(192, 70%, 51%);

//### Neutral

$dark: hsl(233, 8%, 62%);
$accent: hsl(220, 16%, 96%);
$ligth: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
